{% set section = "findings" %}
{% extends "layout.html" %}

{% block page_title %}
  Findings - What works in the labour market
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha-banner.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs" class="group">
      <li><a href="/v1">What Works in the Labour Market</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge" class="m-b-s">A history of the labour market</h1>
  <p class="lede m-b-l">How the market has evolved and what&rsquo;s been learned</p>

  {% set items = [
    { decade: "60s", year: "1964", title: "Industrial training boards introduced", summary: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "70s", year: "1971", title: "Community industry began", intro: "lorem" },
    { decade: "70s", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" },
    { decade: "LAST", year: "1973", title: "Training opportunities scheme started (TOPS)", intro: "lorem" }
    ]
  %}

  <ul class="list list-bullet">
  {% for item in items %}
    <li>
      <h3 class="heading-small">{{ item.title }}</h3>
      <p>{{ item.intro }}</p>   
    </li>
  {% endfor %}
  </ul>

</main>

{% endblock %}