{% extends "layout.html" %}

{% block page_title %}
  Borrow amount - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('1-borrow-amount-no-js-1') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form" id="borrow-amount">

        <h1 class="heading-large m-b-m">
          {% if children %}
          You can apply for between £100 and £812 - how much do you need?
          {% elif partner %}
          You can apply for between £100 and £464 - how much do you need?
          {% else %}
          You can apply for between £100 and £348 - how much do you need?
          {% endif %}
        </h1>

        <div class="form-group">
          <fieldset class="inline">
            <legend class="visually-hidden">How much do you need?</legend>
              <div class="u-1/4-lap-and-up">
                <span class="c-form-input-denote">&pound;</span>
                <input class="c-form-input-denote__input form-control form-control-1-4" id="regpay01" type="text" name="regpay01" value="">
              </div>
          </fieldset>
        </div>{# / form-group #}

        {% include "includes/continue-save.html" %}

      </form>

    </div>{# / column-two-thirds #}

    {% include "includes/help-function-v4.html" %}

  </div>{# / grid-row #}
</main>

{% endblock %}