{% extends "layout.html" %}

{% block page_title %}
  How much you can borrow - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('0-start-apply') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form" id="borrow-amount">

        <h1 class="heading-large m-b-ml">
          How much you can apply for
        </h1>

        {# QUESTION 1 - DO YOU HAVE A PARTNER? #}

        <h2 class="heading-medium">Do you have a partner?</h2>

        <p>A partner is someone over the age of 16 who you&rsquo;re married to or live with as if you&rsquo;re married to them.</p>

        <div class="form-group m-b-l inline">
          <label class="block-label" for="answer1">
            <input id="answer1" type="radio" name="choice1" value="yes" >
            Yes{# , I have a partner #}
          </label>
          <label class="block-label" for="answer2">
            <input id="answer2" type="radio" name="choice1" value="no">
            No{# , I don’t have a partner #}
          </label>
        </div>{# / form-group #}


        {# QUESTION 2 - DO YOU GET CHILD BENEFIT? #}

        <h2 class="heading-medium">Do you get Child Benefit?</h2>
        <div class="form-group m-b-l inline">
          <label class="block-label" for="answer3" data-target="panel-how-much">
            <input id="answer3" type="radio" name="choice2" value="yes">
            Yes
          </label>
          <label class="block-label" for="answer4" data-target="panel-how-much">
            <input id="answer4" type="radio" name="choice2" value="no">
            No
          </label>
        </div>{# / form-group #}

        
        {# QUESTION 3 - HOW MUCH DO YOU NEED? #}

        <div id="panel-how-much" class="js-hidden">
          <h2 class="heading-medium m-b-s">You can apply for between £100 and £<span id="amount"></span> - how much do you need?</h2>
          <div class="form-group">
            <div class="u-1/4-lap-and-up">
              <span class="c-form-input-denote">&pound;</span>
              <input class="c-form-input-denote__input form-control form-control-1-4" id="regpay01" type="text" name="regpay01" value="">
            </div>
          </div>{# / form-group #}
        </div>{# /panel #}

        {% include "includes/continue-save.html" %}

      </form>

    </div>{# / column-two-thirds #}

    {% include "includes/help-function-v4.html" %}

  </div>{# / grid-row #}
</main>

{% endblock %}