{% extends "layout.html" %}

{% block page_title %}
  Pension Credit - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('2-benefit') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form">

        <h1 class="heading-large m-b-ml">
          How long have you been getting Pension Credit?
        </h1>
        

        <fieldset class="form-group">

          <label class="block-label" for="answer1">
            <input id="answer1" type="radio" name="answers" value="6">
            6 months or more
          </label>

          <label class="block-label" for="answer2">
            <input id="answer2" type="radio" name="answers" value="3" >
            Less than 6 months
          </label>

        </fieldset>

        {% include "includes/continue-save.html" %}

      </form>

    </div>{# / column-two-thirds #}

    {% include "includes/help-function-v4.html" %}

  </div>{# / grid-row #}
</main>

{% endblock %}