{% extends "layout.html" %}

{% block page_title %}
  Loans - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('4-credit-store-cards') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form">

        {% if partner %}
        <h1 class="heading-large m-b-ml">
          Do you or your partner have any outstanding loans?
        </h1>
        {% else %}
        <h1 class="heading-large m-b-ml">
          Do you have any outstanding loans?
        </h1>
        {% endif %}

        <p>Include loans you have from a bank, building society or loan company.<br />Don&rsquo;t include a mortgage, student loan or money you owe to the government.</p>

        <div class="form-group">
          <fieldset class="inline">

            <label class="block-label" for="radio-home-address" data-target="debt-details">
              <input id="radio-home-address" type="radio" name="radio-indent-group" value="Yes">
              Yes
            </label>

            <label class="block-label" for="radio-other-address">
              <input id="radio-other-address" type="radio" name="radio-indent-group" value="No">
              No
            </label>

            <div class="panel panel-border-narrow js-hidden" id="debt-details">

              <div class="form-group m-b-ml">

                <label class="js-visible-block form-label m-b-xs" for="regpay01">How much do you pay back each month?</label>
                <label class="js-hidden form-label m-b-xs" for="regpay01">If yes, how much do you pay back each month?</label>

                <div class="u-1/4-lap-and-up">
                  <span class="c-form-input-denote">&pound;</span>
                  <input class="c-form-input-denote__input form-control form-control-1-4" id="regpay01" type="text" name="regpay01" value="">
                </div>
              </div>

              <div class="form-group m-b-ml">

                <label class="js-visible-block form-label m-b-xs" for="total01">How much is left to pay?</label>
                <label class="js-hidden form-label m-b-xs" for="total01">If yes, how much is left to pay?</label>

                <div class="u-1/4-lap-and-up">
                  <span class="c-form-input-denote">&pound;</span>
                  <input class="c-form-input-denote__input form-control form-control-1-4" id="total01" type="text" name="total01" value="">
                </div>
              </div>

            </div>{# /debt-details #}

          </fieldset>
        </div>

        {% include "includes/continue-save.html" %}

      </form>

    </div>{# / column-two-thirds #}

    {% include "includes/help-function-v4.html" %}

  </div>{# / grid-row #}
</main>

{% endblock %}