{% extends "layout.html" %}

{% block page_title %}
  Previous Budgeting Loans and Crisis Loans - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('3-savings') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form">

        {% if partner %}
        <h1 class="heading-large m-b-ml">
          Do you or your partner owe more than &pound;1,500 for previous Budgeting Loans or Crisis&nbsp;Loans?
        </h1>
        {% else %}
        <h1 class="heading-large m-b-ml">
          Do you owe more than &pound;1,500 for previous Budgeting Loans or Crisis&nbsp;Loans?
        </h1>
        {% endif %}

        <fieldset class="form-group m-b-m">
          <label class="block-label" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="answers" value="yes" >
            Yes
          </label>
          <label class="block-label" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="answers" value="no" >
            No
          </label>
          <label class="block-label" for="radio-inline-3" data-target="notice">
            <input id="radio-inline-3" type="radio" name="answers" value="unsure" >
            Don&rsquo;t know
          </label>
          <div class="panel panel-border-wide style1 js-hidden " id="notice">
            You can&rsquo;t get a Budgeting Loan if you already owe more than &pound;1,500 for Budgeting Loans or Crisis Loans. <a href="https://www.gov.uk/contact-jobcentre-plus">Contact Jobcentre Plus</a> to find out how much you owe.
          </div>
        </fieldset>

        {% include "includes/continue-save.html" %}

      </form>

    </div>{# / column-two-thirds #}

    {% include "includes/help-function-v4.html" %}

  </div>{# / grid-row #}
</main>

{% endblock %}