{% extends "layout.html" %}

{% block page_title %}
  About your partner and children - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('5-about-you') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form">

        <h1 class="form-title heading-large m-b-ml">
          About your partner
        </h1>

        <!-- Full name -->
        <div class="form-group m-b-l">
          <label class="form-label-bold" for="partner-full-name">Their full name</label>
          <input type="text" class="form-control" id="partner-full-name">
        </div>

        <!-- Date of birth -->
        <div class="form-group m-b-ml">
          <fieldset>
            <legend class="form-label-bold m-b-xs">Their date of birth</legend>

            <div class="form-date">

              <div class="form-group form-group-day">
                <label for="dob-day">Day</label>
                <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
              </div>

              <div class="form-group form-group-month">
                <label for="dob-month">Month</label>
                <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
              </div>

              <div class="form-group form-group-year">
                <label for="dob-year">Year</label>
                <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
              </div>
            </div>

          </fieldset>
        </div>

        {% include "includes/continue-save.html" %}

      </form>

    </div>{# / column-two-thirds #}

    {% include "includes/help-function-v4.html" %}

  </div>{# / grid-row #}
</main>

{% endblock %}