{% extends "layout.html" %}

{% block page_title %}
  Send your application - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('6-notifications') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form">

        <h1 class="form-title heading-large">Send your application</h1>

        <h2 class="form-title heading-medium">What happens after applying</h2>

         <p>If you&rsquo;re offered a loan you&rsquo;ll be told:</p>
        
        <ul class="list list-bullet">
          <li>how much you can borrow</li>
          <li>how much your weekly repayments will be</li>
          <li>how long it will take to repay</li>
        </ul>
        <p>You can then decide whether to accept the loan.</p>

        <p>If you&rsquo;re not offered a loan, then you&rsquo;ll be told the reason why. You have the right to ask for a review if you&rsquo;re not happy with the decision.</p>

        <h2 class="form-title heading-medium">Declaration</h2>

        <p>By sending this application you agree:</p>
        <ul class="list list-bullet  u-mb">
          <li>the information in this application is complete and correct as far as you know</li>
          <li>to report any changes to your circumstances promptly</li>
          <li>that you'll use the loan for one of the qualifying reasons</li>
        </ul>

        <details class="u-mb">

        <summary>See the qualifying reasons for a loan</summary>

        <div class="panel panel-indent">

          <p>You can use a Budgeting Loan to pay for:</p>

          <ul class="list list-bullet">
            <li>furniture or household items such as white goods</li>
            <li>clothing or footwear</li>
            <li>rent in advance</li>
            <li>costs linked to moving house</li>
            <li>maintenance, security or improvements to your home</li>
            <li>travelling costs within the UK</li>
            <li>costs linked to getting a new job</li>
            <li>maternity costs</li>
            <li>funeral costs</li>
            <li>repaying hire purchase loans</li>
            <li>repaying loans taken for the above items</li>
          </ul>

        </div>
        </details>

        <div class="application-notice help-notice m-t-m m-b-m">
          <p>You may be taken to court if you deliberately give wrong information or if you don&rsquo;t report changes to your circumstances promptly.</p>
        </div>

        <p><a href="8-what-happens-next" class="button">I agree - send my application</a></p>

      </form>

    </div>{# / column-two-thirds #}

    {% include "includes/help-function-v4.html" %}

  </div>{# / grid-row #}
</main>

{% endblock %}