{% extends "layout.html" %}

{% block page_title %}
  Error - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large m-b-ml">
        Something&rsquo;s gone wrong
      </h1>

      <p>There was a problem sending your form.</p>

      <p><a href="0-start-overview">Go back</a> and to try again.</p>

    </div>{# / column-two-thirds #}

  </div>{# / grid-row #}
</main>

{% endblock %}