{% extends "layout.html" %}

{% block page_title %}
  Service unavailable - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large m-b-ml">
        The service is currently unavailable
      </h1>

      <p>The problem will be fixed as soon as possible.</p>

      <p class="js-visible-block">Please <a href="javascript:history.back()">try again</a> later.</p>

      <p class="js-hidden">Please try again later.</p>

    </div>{# / column-two-thirds #}

  </div>{# / grid-row #}
</main>

{% endblock %}