{% set section = "about-us" %}
{% extends "layout.html" %}

{% block page_title %}
  About us - What works in the labour market
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha-banner.html" %}

<div class="breadcrumbs">
  <ol role="breadcrumbs" class="group">
    <li><a href="/v1">What Works in the Labour Market</a></li>
  </ol>
</div>

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">About us</h1>

    <p class="lede">We&rsquo;re a small team of analytical and policy staff in <a href="https://www.gov.uk/government/organisations/department-for-work-pensions">The Department for Work and Pensions</a> (DWP) working with internal and external experts to understand labour market evidence.</p>

    <p>DWP wants to make it easier for policy and operational decision makers to use evidence in designing and delivering services.</p>

    <p>To make it easier for decision makers to use evidence, on this site we are:</p>

    <ul class="list list-bullet">
      <li>summarising evidence on active labour market policies</li>
      <li>sharing this in user-friendly formats and maintaining and updating this on an on-going basis</li>
      <li>maintaining a research library of the most relevant reports</li>
      <li>mapping live external research/trials to make these more visible to all</li>
      <li>holding case studies showing examples of effective local practice</li>
    </ul>

    <h2 class="heading-medium">The What Works network</h2>

    <p>Information about other What Works organisations with links to their sites could go here.</p>

    <hr>

    <p>This section could eventually include information about the team, governance, transparency help etc</p>
 

  </div>{# /column-two-thirds #}

</div>{# /grid-row #}

</main>

{% endblock %}