{% set section = "home" %}
{% extends "layout.html" %}

{% block page_title %}
  What works in the labour market
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha-banner.html" %}

{# {% include "includes/breadcrumbs.html" %} #}

  <h1 class="heading-xlarge" class="m-b-s">What Works in the Labour Market</h1>

  <div class="grid-row">

    <div class="column-one-half">

      <h2 class="heading-medium">Customer groups</h2>

      <ul class="list">
        <li>Black and Minority Ethnic (BME)</li>
        <li>Day one</li>
        <li>Disadvantaged groups</li>
        <li><a href="/v1/findings/health-and-disability">Health and disability</a></li>
        <li>In work</a></li>
        <li>Long term unemployed</li>
        <li>Older workers</li>
        <li>Parents/Carers/Partners</li>
        <li>Self employment</li>
        <li>Young people</li>
      </ul>

    </div>{# /column-one-half #}

    <div class="column-one-half">

      <h2 class="heading-medium">Types of help</h2>

      <ul class="list">
        <li>Basic skills</li>
        <li>Childcare</li>
        <li>Employability training</li>
        <li>Employer engagement</li>
        <li>English for speakers of other languages (ESOL)</li>
        <li>Job search skills</li>
        <li>Other financial help</li>
        <li>Other specialist intervention</li>
        <li>Partnerships and local service integration</li>
        <li>Retention and sustainment</li>
        <li>Specialist health intervention</li>
        <li>Supported employment</li>
        <li>Supported progression</li>
        <li>Transport</li>
        <li>Vocational training</li>
        <li>Wage subsidies</li>
        <li>Work experience</li>
      </ul>

    </div>{# /column-one-half #}

  </div>{# /grid-row #}


</main>

{% endblock %}