{% extends "layout-contents.html" %}

{% block page_title %}
  What works in the labour market
{% endblock %}

{% block content %}
  <main id="content" role="main">

		<div class="grid-row m-b-l">

      <div class="featured-wrapper">
        <h1 class="heading-large">What works in the labour market</h1>
        <hr />

        <h3 class="heading-medium">Exploration</h3>

        <p class="text">
          Some text here
        </p>

        

        <p><a href="v1" class="button">View prototype</a></p>

        <h4>Screens:</h4>
        <ul class="list list-bullet">
          <li><a href="v1">screen</a></li>
        </ul>

      </div>

    </div>


	</main>
{% endblock %}
