{% extends "layout.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include 'includes/phase_banner_beta.html' %}
		<div class="grid-row m-b-l">

      <div class="featured-wrapper">
        <h1 class="heading-large">Apply for a Budgeting Loan prototype</h1>
        <hr />

        <h3 class="heading-medium">Beta 17 &ndash; 1 November to current</h3>

        <p class="text">
          Combined the &lsquo;less than 3 months&rsquo; and &lsquo;between 3 and 6 months&rsquo; options for all benefits.
          Updated GOV.UK content to reference linked benefits and gaps in benefits. Updated &lsquo;About you&rsquo; the wording to &lsquo;How many children do you get Child Benefit for?&rsquo;.
        </p>

        <p><a href="/beta17/0-start-overview" class="button">View prototype</a></p>

        <h4>Other screens:</h4>
        <ul class="list list-bullet">
          <li><a href="/beta13/loan-offer">Online loan offer</a></li>
          <li><a href="/beta16/error-service-unavailable">Error - The service is currently unavailable</a></li>
          <li><a href="/beta16/error-something-wrong">Error - Something&rsquo;s gone wrong - there was a problem sending your form</a></li>
          <li><a href="/beta16/error-something-wrong-form-submit">Error - Something&rsquo;s gone wrong - there was a problem sending your form (when submitting an application)</a></li>
          <li><a href="/beta16/error-you-cant-view-this-page">Error - You can&rsquo;t view this page</a></li>
          <li><a href="/public/html/akamai-abls.html">Error - Service unavailable Akamai</a></li>
          <li><a href="/beta16/error-cookies-disabled">Error - Cookies disabled</a></li>
        </ul>

        <h4>User research:</h4>
        <ul class="m-b-0">
          <li>To follow</li>
        </ul>

      </div>

    </div>

    <div class="column-two-thirds">

  		<details>

  	    <summary class="m-t-s"><span class="summary">Previous prototype versions</span></summary>

        <div class="panel panel-border-narrow">

          <h3 class="heading-medium">Beta 16 &ndash; 29 September to 30 October</h3>

          <p class="text">
            Fixed JavaScript issue on &lsquo;Borrow amount&rsquo; page. Makes updates for users who don&rsquo;t have JavaScript enabled. Content updates to debt speed bump page. Slight tweak to contact methods page. Changes to position and messaging of help function. Error pages. Finish buttons added to knock-out screens. Adds links to footer. Addresses issue of users who have had a short gap in benefits or who&rsquo;re on a linked benefit being told that they&rsquo;re not eligible. Small content update to length of benefit knock-out page.
          </p>

          <p><a href="/beta16/0-start-overview" class="button">View prototype</a></p>

          <h4>Other screens:</h4>
          <ul class="list list-bullet">
            <li><a href="/beta13/loan-offer">Online loan offer</a></li>
            <li><a href="/beta16/error-service-unavailable">Error - The service is currently unavailable</a></li>
            <li><a href="/beta16/error-something-wrong">Error - Something&rsquo;s gone wrong - there was a problem sending your form</a></li>
            <li><a href="/beta16/error-something-wrong-form-submit">Error - Something&rsquo;s gone wrong - there was a problem sending your form (when submitting an application)</a></li>
            <li><a href="/beta16/error-you-cant-view-this-page">Error - You can&rsquo;t view this page</a></li>
            <li><a href="/public/html/akamai-abls.html">Error - Service unavailable Akamai</a></li>
            <li><a href="/beta16/error-cookies-disabled">Error - Cookies disabled</a></li>
          </ul>

          <h4>User research:</h4>
          <ul class="m-b-0">
            <li><a href="public/pdfs/ur-insight/29102016.pdf">User research findings 29/10/2016</a></li>
          </ul>

          <hr />

          <h3 class="heading-medium">Beta 15 &ndash; 19 September to 21 September</h3>

          <p class="text">
            Includes everything from Beta 14 with the following additions: &lsquo;speed bump&rsquo; page before regular debt repayment questions, National Insurance number, error messages and student debt helper text.
          </p>

          <p><a href="/beta15/0-start-overview" class="button">View prototype</a></p>

          <h4>Other screens:</h4>
          <ul class="list list-bullet">
            <li><a href="/beta13/loan-offer">Online loan offer</a></li>
            <li><a href="/beta15/error500">Error - service down</a></li>
            <li><a href="/beta15/error">Error - problem sending form</a></li>
            <li><a href="/beta15/error-not-found">Error - general error</a></li>
          </ul>

          <h4>User research:</h4>
          <ul class="m-b-0">
            <li><a href="public/pdfs/ur-insight/21092016.pdf">User research findings 21/09/2016</a></li>
          </ul>

          <hr />

          <h3 class="heading-medium">Beta 14 &ndash; 25 August to 19 September</h3>

          <p class="text">
            Significantly reworked the ordering of questions in this version. Borrow amount screen is now at the beginning. Questions about partner and children are now nearer the end. Simplified the eligibility flow and removed the &lsquo;You&rsquo;re eligible&rsquo; and &lsquo;You might be eligible&rsquo; screens. Up to date with Mel&rsquo;s latest content.
          </p>

          <p><a href="/beta14/0-start-overview" class="button">View prototype</a></p>

          <h4>Other screens:</h4>

          <ul class="list list-bullet">
            <li><a href="/beta13/loan-offer">Online loan offer</a></li>
          </ul>

          <h4>User research:</h4>
          <ul class="m-b-0">
            <li>No specific research carried out on this version (carried over to beta&nbsp;15)</li>
          </ul>

          <hr />

          <h3 class="heading-medium">Beta 13 &ndash; 19 August to 24 August</h3>

          <p class="text">
            Mainly small content updates, including GOV.UK pages.
          </p>

          <p><a href="/beta13/start-overview" class="button">View prototype</a></p>

          <h4>Other screens:</h4>

          <ul class="list list-bullet">
            <li><a href="/beta13/loan-offer">Online loan offer</a></li>
          </ul>

          <ul class="m-b-0">
            <li>No specific research carried out on this version</li>
          </ul>

          <hr />

          <h3 class="heading-medium">Beta 12 &ndash; 9 August to 18 August</h3>

          <p class="text">
            Moved repayments table to its own screen. General content updates. Removed the previous partner question. Big changes to eligibility flow including option for users who&rsquo;ve been claiming for 3 months and were previously part of a joint claim.
          </p>

          <p><a href="/beta12/start-overview" class="button">View prototype</a></p>

          <h4>Other screens:</h4>

          <ul class="list list-bullet">
            <li><a href="/beta12/loan-offer">Online loan offer</a></li>
          </ul>

          <h4>User research:</h4>
          <ul class="m-b-0">
            <li><a href="public/pdfs/ur-insight/18082016.pdf">User research findings 18/08/2016</a></li>
          </ul>

          <hr />

          <h3 class="heading-medium">Beta 11 &ndash; 20 July to 4 August</h3>

          <p class="text">
            Update to repayments table on GOV UK &ndash; How it works screen, updates to text describing the repayments table, addition of &ldquo;Don&apos;t know&rdquo; option for &ldquo;Have you had a Budgeting Loan before?&rdquo; question, enhanced Help function, replaced reference to Children with Child Benefit.
          </p>

          <p><a href="/beta11/start-overview" class="button">View prototype</a></p>

          <h4>Other screens:</h4>

          <ul class="list list-bullet">
            <li><a href="/beta11/loan-offer">Online loan offer</a></li>
            <li><a href="/beta11/check-your-answers">Check your answers</a></li>
            <li><a href="/beta11/check-your-answers-partner">Check your answers (with partner)</a></li>
          </ul>

          <h4>User research:</h4>
          <ul class="m-b-0">
            <li><a href="public/pdfs/ur-insight/04082016.pdf">User research findings 04/08/2016</a></li>
          </ul>

          <hr />

          <h3 class="heading-medium">Beta 10 &ndash; 6 July to 19 July 2016</h3>

          <p class="text">
            Eligibility questions for benefit type and and claim time have been split across two screens. Removed reference to &lsquo;your partner&rsquo; from questions and text relating to benefits. Basic help function added. Updates to payments table.
          </p>

          <p><a href="/beta10/start-overview" class="button">View prototype</a></p>

          <h4>Other screens:</h4>

          <ul class="list list-bullet">
            <li><a href="/beta10/loan-offer">Online loan offer</a></li>
            <li><a href="/beta10/check-your-answers">Check your answers</a></li>
            <li><a href="/beta10/check-your-answers-partner">Check your answers (with partner)</a></li>
          </ul>
          <h4>User research:</h4>
          <ul class="m-b-0">
            <li><a href="public/pdfs/ur-insight/19072016.pdf">User research findings 19/07/2016</a></li>
          </ul>

          <hr />

          <h3 class="heading-medium">Beta 09 &ndash; 8 June to 30 June</h3>

          <p class="text">
          Content changes to GOV.UK page &ndash; amending repayment table, eligibility checker update to JSA and ESA questions, updates to debt repayment screens for better user understandability of service questions.
          </p>

          <p><a href="/beta09/start-overview" class="button">View prototype</a></p>

          <h4>Other screens:</h4>

          <ul class="list list-bullet">
            <li><a href="/beta09/loan-offer">Online loan offer</a></li>
            <li><a href="/beta09/check-your-answers">Check your answers</a></li>
            <li><a href="/beta09/check-your-answers-partner">Check your answers (with partner)</a></li>
          </ul>
          <h4>User research:</h4>
          <ul class="m-b-0">
            <li><a href="public/pdfs/ur-insight/30062016.pdf">User research findings 30/06/2016</a></li>
          </ul>

          <hr />

          <h3 class="heading-medium">Beta 08 &ndash; 24 May to 7 June 2016</h3>

          <p class="text">
            This version of the prototype focused on improvements to the debt repayments screens removing the existing question and replacing with specific questions around Credit Card/Store Cards - Loans - Rental Purchases - Money owed to Landlord
          </p>

          <p><a href="/beta08/start-overview" class="button">View prototype</a></p>

          <h4>Other screens:</h4>

          <ul class="list list-bullet">
            <li><a href="/beta08/loan-offer">Online loan offer</a></li>
          </ul>
          <h4>User research:</h4>
          <ul class="m-b-0">
            <li><a href="public/pdfs/ur-insight/08062016.pdf">User research findings 08/06/2016</a></li>
          </ul>

          <hr />

          <h3 class="heading-medium">Beta 07 &ndash; May 2016</h3>

  				<p class="text">
  					In this version of the prototype we included updates to test our assumptions and hypothesis. These included amending the list of items you can get a Budgeting Loan for, changing the eligibility failed screens to make them bespoke to each eligibility criteria.
  				</p>

          <p><a href="/beta07/start-overview" class="button">View prototype</a></p>

          <h4>Other screens:</h4>

          <ul class="list list-bullet">
            <li><a href="/sandpit/loan-offer/version-2/">Online loan offer</a></li>
          </ul>
          <h4>User research:</h4>
          <ul class="m-b-0">
            <li><a href="public/pdfs/ur-insight/25052016.pdf">User research findings 25/05/2016</a></li>
          </ul>

          <hr />

            <h3 class="heading-medium">Beta 06 &ndash; April to May 2016</h3>
            <p class="text">
    					This version of the prototype had a progress tracker added to the GOV UK screens, enhancing the content of GOV UK screens reducing the screens from 4 to 3, adding the eligibility flow to the customer journey, moving the savings question before debt repayment section, improve the page layouts and spacing.
    				</p>

  				  <p><a href="/beta06/start-overview" class="button">View prototype</a></p>

            <h4>User research:</h4>
            <ul class="m-b-0">
              <li><a href="public/pdfs/ur-insight/27042016.pdf">User research findings 27/04/2016</a></li>
            </ul>

          <hr />

            <h3 class="heading-medium">Beta 05 &ndash; April 2016</h3>
    				<p class="text">
    				This version includes enhancements to hint/help text, the addition of validation for application questions.
            </p>

    				<p><a href="/beta05/overview" class="button">View prototype</a></p>

        <hr />

            <h3 class="heading-medium">Beta 04 &ndash; April 2016</h3>
            <p class="text">
            In this version changed the title text size on GOV UK screens, changed the text layout for Apply screen, introduced an eligibility question flow, added validation to customer flow, looked at alternantive debt repayments pattern, put a feedback link to the &quot;What happens next&quot; screen.
            </p>

            <p><a href="/beta04/overview" class="button">View prototype</a></p>

            <h4>User research:</h4>
            <ul class="m-b-0">
              <li><a href="public/pdfs/ur-insight/eye-tracking06042016.pdf">Eye tracking user research findings 06/04/2016</a></li>
              <li><a href="public/pdfs/ur-insight/gov-uk31032016.pdf">User research findings 31/03/2016</a></li>
            </ul>

        <hr />

            <h3 class="heading-medium">Beta 03 &ndash; March 2016</h3>
            <p class="text">
            This version had adjustments to all screens to 2 thirds column width, content changes to GOV UK &ndash; Apply screen, content changes to Industrial Action bullet, capitalization of benefit names, changes to content and layout of Loan Amount screen, hint text added to mobile number capture.
            </p>

            <p><a href="/beta03/overview" class="button">View prototype</a></p>

            <h4>User research:</h4>
            <ul class="m-b-0">
              <li><a href="public/pdfs/ur-insight/09032016.pdf">User research findings 09/03/2016</a></li>
            </ul>

        <hr />

            <h3 class="heading-medium">Beta 02 &ndash; March 2016</h3>
            <p class="text">
            Changes to GOV UK screen &mdash; Apply now &mdash; adding extra information about regular debt repayments, extra text about combined savings on Before you start, removal of page titles making the question the title, remove e&ndash;mail capture field.
            </p>

            <p><a href="/beta02/overview" class="button">View prototype</a></p>

            <h4>User research:</h4>
            <ul class="m-b-0">
              <li><a href="public/pdfs/ur-insight/pensioner03032016.pdf">Pensioner research findings 03/03/2016</a></li>
              <li><a href="public/pdfs/ur-insight/mother-toddler03032016.pdf">Mother and toddler research findings 03/03/2016</a></li>
            </ul>

        <hr />

            <h3 class="heading-medium">Beta 01 &ndash; February 2016</h3>
            <p class="text">
            Change the banner from Alpha to Beta version, updates to the routes for customer flow.
            </p>

            <p><a href="/beta01/overview" class="button">View prototype</a></p>

            <h4>User research:</h4>
            <ul class="m-b-0">
              <li><a href="public/pdfs/ur-insight/02022016.pdf">User research findings 02/02/2016</a></li>
              <li><a href="public/pdfs/ur-insight/12022016.pdf">User research findings 12/02/2016</a></li>
              <li><a href="public/pdfs/ur-insight/24022016.pdf">User research findings 24/02/2016</a></li>
            </ul>

        <hr />
            <h3 class="heading-medium">Archived prototype versions</h3>

            <ul class="list list-bullet">
              <li><a href="/alpha07/overview">Alpha 07</a></li>
              <li><a href="/alpha06/overview">Alpha 06</a></li>
              <li><a href="/alpha05/overview">Alpha 05</a></li>
              <li><a href="/alpha04/overview">Alpha 04</a></li>
              <li><a href="/alpha03/overview">Alpha 03</a></li>
              <li><a href="/alpha02/overview">Alpha 02</a></li>
              <li><a href="/alpha01/overview">Alpha 01</a></li>
            </ul>

        </div>

      </details>

    <h1 class="heading-medium">Design sandpit</h1>

    <p><a href="/cookies/banner">Cookie pages</a>: Content reference for cookie banner and linked pages</p>

    <p><a href="/sandpit/help-function/">Help function</a>: Facility for aimed at assisted digital users</p>
    <p><a href="/sandpit/accessible-pagination/index">Accessible pagination</a>: Improving the accessibility of GOV UK screens</p>
    <p><a href="/sandpit/masthead-label-variations/index">Masthead label variations</a>: Looking at changing the properties of the masthead title to prevent confusion for accessibility users</p>
    <p><a href="/sandpit/gov-eligibility-2/index">Eligibility start page content updates</a>: Improving the content on the eligibility pages for better user understanding</p>
    <p><a href="/sandpit/applying-for-someone-else/index">Applying on behalf of someone else</a>: Making the rules around joint claims more visible</p>

  </div>

  <div class="column-one-third">
    <h3 class="heading-medium m-t-0">Project resources</h3>
    <p><a href="https://budgeting-loans-dev.itsbeta.net/steps/overview">Dev version</a>: Not available on DWP networked computers</p>
    <!-- <p><a href="#">Analytics dashboard</a>: Not available</p>
    <p><a href="#">Eligibility dashboard</a>: Not available</p> -->
    <p><a href="https://www.dropbox.com/sh/u7rj29fb2ng0ir0/AACHcrp1r7Dmod1JNJiT-sufa?dl=0">Daily dashboard</a>: Not available on DWP networked computers</p>
    <p><a href="/show-and-tell-index.html">Show &amp; Tells</a>: Archive of Show &amp; Tells</p>
    <h3 class="heading-medium m-t-l">GDS resources</h3>
    <ul class="list list-">
      <li><a href="https://www.gov.uk/service-manual">Service design manual</a></li>
      <li><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/index.html">Design patterns</a></li>
      <li><a href="http://govuk-elements.herokuapp.com/">GOV.UK elements</a></li>
    </ul>
  </div>

  <!-- LINKS FOR ANALYTICS AND ELIGIBILITY DASHBOARDS
  <a href="https://digitalanalyticsdashboards.herokuapp.com/bl/bl_dash.html">Analytics dashboard</a>
  <a href="https://digitalanalyticsdashboards.herokuapp.com/bl/bl_eligibility.html">Eligibility dashboard</a>
-->


	</main>
{% endblock %}
