{% set section = "findings" %}
{% extends "layout.html" %}

{% block page_title %}
  Health and disability - Findings - What Works in the Labour Market
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/alpha-banner.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs" class="group">
      <li><a href="/v1">What Works in the Labour Market</a></li>
      <li><a href="/v1/findings">Research and findings</a></li>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-full">

      <h1 class="heading-xlarge m-b-m">
  {#       <span class="heading-secondary">Customer group</span> #}
        Health and disability
      </h1>

      <p class="lede">
        Evidence strength: No supporting evidence
      </p>

  {#     <p class="font-xsmall" >Last updated: 11 November 2016</p> #}

      <hr>

    </div>{# /column-full #}

  </div>{# /grid-row #}

  <div class="grid-row">

    <div class="column-one-third">

      <div class="page-contents">
        <h2 class="font-xsmall bold">Page contents:</h2>
        <ol class="list font-xsmall">
          <li><a href="#part1">About this group</a></li>
          <li><a href="#part2">Interventions that may work</a></li>
          <li><a href="#part3">Influencing factors</a></li>
          <li><a href="#part4">Further reading</a></li>
          <li><a href="#part5">Sources</a></li>
        </ol>
      </div>{# /page-contents #}

    </div>{# /column-one-quarter #}

    <div class="column-two-thirds overflow-visible">

      <h2 id="part1" class="heading-large m-t-0">About this group</h2>

      <h3 class="heading-medium">Who&rsquo;s in this group?</h3>

      <p>You’re disabled under the Equality Act 2010 if you have a physical or mental impairment that has a ‘substantial’ and ‘long-term’ negative effect on your ability to do normal daily activities. Research used to inform this review includes participants from within and outside the UK. As such, evidence is likely to relate to a slightly more opaque group of individuals.</p>

      <h3 class="heading-medium">Issues that affect this group</h3>

      <ul class="list list-bullet">
        <li>issues regarding an individuals health condition</li>
        <li>lack of job opportunities</li>
        <li>insufficient skills, experience or qualifications</li>
        <li>difficulty with transport</li>
        <li>attitudes of employers</li>
        <li>difficulties using facilities or equipment</li>
        <li>anxiety, lack of confidence or motivation</li>
        <li>costs associated with employers making adjustments</li>
        <li>caring responsibilities</li>
        <li>financial situation</li>
      </ul>

      <p>
        <sup>
          <span class="tooltip">
            <a href="?cite=1#fn:1" id="cite-ref1-1">1</a>,
            {% include "v1/findings/tooltips/1.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:2" id="cite-ref2-1">2</a>,
            {% include "v1/findings/tooltips/2.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:11" id="cite-ref11-1">11</a>,
            {% include "v1/findings/tooltips/11.html" %}
          </span>
        </sup>
      </p>

      <h2 id="part2" class="heading-large">Interventions that may work</h2>

      <h3 class="heading-medium">Moving into employment</h3>

      <p>There are examples of financial incentives paid to individuals helping disabled people into employment, although they may only work for people who are already close to the labour market. Overall though the evidence is patchy
        <sup>
          <span class="tooltip">
            <a href="?cite=1#fn:3" id="cite-ref3-1">3</a>,
            {% include "v1/findings/tooltips/3.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:4" id="cite-ref4-1">4</a>,
            {% include "v1/findings/tooltips/4.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:5" id="cite-ref5-1">5</a>,
            {% include "v1/findings/tooltips/5.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:6" id="cite-ref6-1">6</a>.
            {% include "v1/findings/tooltips/6.html" %}
          </span>
        </sup>
      </p>

      <p>Financial incentives paid to an employer can work if generous enough, but there is risk of deadweight and stigma. There is mixed evidence around how long the effect of these incentives lasts, with some showing it drops off after one year
        <sup>
          <span class="tooltip">
            <a href="?cite=2#fn:3" id="cite-ref3-2">3</a>,
            {% include "v1/findings/tooltips/3.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:7" id="cite-ref7-1">7</a>,
            {% include "v1/findings/tooltips/7.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:8" id="cite-ref8-1">8</a>.
            {% include "v1/findings/tooltips/8.html" %}
          </span>
        </sup>
      </p>

      <p>Advice and guidance. There is some evidence that it has a positive impact upon gaining employment 
        <sup>
          <span class="tooltip">
            <a href="?cite=2#fn:6" id="cite-ref6-2">6</a>,
            {% include "v1/findings/tooltips/6.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:9" id="cite-ref9-1">9</a>,
            {% include "v1/findings/tooltips/9.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:10" id="cite-ref10-1">10</a>.
            {% include "v1/findings/tooltips/10.html" %}
          </span>
        </sup>
        It can have a positive influence upon softer outcomes (confidence and motivation) as well as practical job search skills
        <sup>
          <span class="tooltip">
            <a href="?cite=3#fn:3" id="cite-ref3-3">3</a>.
            {% include "v1/findings/tooltips/3.html" %}
          </span>
        </sup>
      </p>

      <p>There is strong evidence, including impact analysis, to show that supported employment programmes can help disabled people move into employment, especially those with a mental health condition 
        <sup>
          <span class="tooltip">
            <a href="?cite=1#fn:12" id="cite-ref12-1">12</a>,
            {% include "v1/findings/tooltips/12.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:13" id="cite-ref13-1">13</a>,
            {% include "v1/findings/tooltips/13.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:14" id="cite-ref14-1">14</a>.
            {% include "v1/findings/tooltips/14.html" %}
          </span>
        </sup>
      </p>

      <p>Travel to work assistance is reported to be an important means of support for some disabled people in taking up and retaining work
        <sup>
          <span class="tooltip">
            <a href="?cite=4#fn:3" id="cite-ref3-4">3</a>.
            {% include "v1/findings/tooltips/3.html" %}
          </span>
        </sup>
      </p>

      <h3 class="heading-medium">Staying in employment</h3>

      <p>There are some promising examples of successful condition management programmes; they are often viewed as an important first step on a journey back to work 
        <sup>
          <span class="tooltip">
            <a href="?cite=1#fn:15-1">15</a>,
            {% include "v1/findings/tooltips/15.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:16-1">16</a>.
            {% include "v1/findings/tooltips/16.html" %}
          </span>
        </sup>
      </p>

      <p>Workplace adjustments can have a positive effect upon making the workplace fit an individuals needs 
        <sup>
          <span class="tooltip">
            <a href="?cite=1#fn:7-1">7</a>,
            {% include "v1/findings/tooltips/7.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=1#fn:8-1">8</a>.
            {% include "v1/findings/tooltips/8.html" %}
          </span>
        </sup>
      </p>
      <p>Return to work planning can be an effective way of helping people return to work during sickness absence, particularly if its done early 
        <sup>
          <span class="tooltip">
            <a href="?cite=7#fn:3-1">3</a>,
            {% include "v1/findings/tooltips/3.html" %}
          </span>
          <span class="tooltip">
            <a href="?cite=2#fn:7-1">7</a>.
            {% include "v1/findings/tooltips/7.html" %}
          </span>
        </sup>
      </p>

      <h3 class="heading-medium">What interventions may work for certain sub groups?</h3>

      <h4 class="heading-small">People of prime age and a mental health condition</h4>

      <p>For people with a mental health condition Supported employment, particularly individual placement and support model (IPS) show promising results.
      Cognitive behaviour therapy can be effective at reducing the effects of job related stress and also for the management of lower back pain 
      <sup>
        <span class="tooltip">
          <a href="?cite=2#fn:5-2">5</a>.
          {% include "v1/findings/tooltips/5.html" %}
        </span>
      </sup>

      </p>

      <h4 class="heading-small">Young disabled people 
        <sup>
          <span class="tooltip">
            <a href="?cite=3#fn:5-3">5</a>
            {% include "v1/findings/tooltips/5.html" %}
          </span>
        </sup>
      </h4>

      <p>More successful interventions have the following features (take an integrated approach to skills development, training and job placement)</p>

      <ul class="list list-bullet">
        <li>include individualised plans</li>
        <li>ensure that training is employment focused, sometimes in relation to specific jobs</li>
        <li>have close links with employers</li>
      </ul>

      <h4 class="heading-small">Disabled people of prime age actively seeking work 
        <sup>
          <span class="tooltip">
            <a href="?cite=4#fn:5-4">5</a>
            {% include "v1/findings/tooltips/5.html" %}
          </span>
        </sup>
      </h4>

      <p>Advice and guidance and job search support</p>

      <h4 class="heading-small">Inactive over 55 
        <sup>
          <span class="tooltip">
            <a href="?cite=5#fn:5-5">5</a>
            {% include "v1/findings/tooltips/5.html" %}
          </span>
        </sup>
      </h4>

      <p>Workplace and employment accessibility &amp; enhanced return to work - early interventions at work</p>

      <h2 id="part3" class="heading-large">Influencing factors</h2>

      <ul class="list list-bullet">
        <li>lack of awareness of support opportunities means that individuals do not access the support available</li>
        <li>discrimination and stigma can have a negative influence upon disabled peoples job opportunities</li>
        <li>cream skimming resulting in those who are hardest to help don’t receive the same support as others 
          <sup>
            <span class="tooltip">
              <a href="?cite=3#fn:6-3">6</a>
              {% include "v1/findings/tooltips/6.html" %}
            </span>
          </sup>
        </li>
        <li>early intervention is important in preventing movement out of work after the onset of an impairment as well as to ensure individuals access the right support when moving onto benefits 
          <sup>
            <span class="tooltip">
              <a href="?cite=4#fn:6-4">6</a>
              {% include "v1/findings/tooltips/6.html" %}
            </span>
          </sup>
        </li>
      </ul>

      <h2 id="part4" class="heading-large">Further reading</h2>

      <p><a href="/v1/findings">Explore health and disability research and findings</a></p>

    </div>{# /column-three-quarters #}

  </div>{# /grid-row #}

  <hr>

  <h2 id="part5" class="heading-large">Sources</h2>

  {% include "v1/findings/sources.html" %}

</main>

{% endblock %}