<dl class="sources">
  <dt>
    <p id="fn:1" class="bold"><span class="src-number">1.</span> <a href="#">A Review of the Research Literature on Supported Employment: A Report for the cross-Government learning disability employment strategy team</a></p>
    <p>Beyer, S., &amp; Robinson, C. , 2009</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Research shows that supported employment does place people with moderate and severe learning disabilities in paid jobs.</p>
        <p>Outcomes are harder to obtain for people with severe and moderate learning disabilities, but research suggests that when severity of learning disability is controlled statistically, supported employment still provides better outcomes than sheltered alternatives.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Research shows that supported employment does place people with moderate and severe learning disabilities in paid jobs.</p>
      <p>Outcomes are harder to obtain for people with severe and moderate learning disabilities, but research suggests that when severity of learning disability is controlled statistically, supported employment still provides better outcomes than sheltered alternatives.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:2" class="bold"><span class="src-number">2.</span> <a href="#">A survey of disabled working age benefit claimants</a></p>
    <p>Cole, L, 2013</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>The most commonly reported barriers to work were a lack of job opportunities (mentioned by 36% of claimants overall, including 62% of JSA claimants and 43% of ESA WRAG claimants), difficulty with transport (mentioned by 31%, including 42% of JSA claimants) and attitudes of employers 30% (JSA 40%, ESA WRAG 35%). For those claimants currently seeking work the most commonly reported barriers were a lack of job opportunities (60%), attitudes of employers (42%), lack of qualifications/experience/skills (41%) and difficulty with transport (37%).</p>
      </div>
    </details>
    <div class="large-screens">
      <p>The most commonly reported barriers to work were a lack of job opportunities (mentioned by 36% of claimants overall, including 62% of JSA claimants and 43% of ESA WRAG claimants), difficulty with transport (mentioned by 31%, including 42% of JSA claimants) and attitudes of employers 30% (JSA 40%, ESA WRAG 35%). For those claimants currently seeking work the most commonly reported barriers were a lack of job opportunities (60%), attitudes of employers (42%), lack of qualifications/experience/skills (41%) and difficulty with transport (37%).</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:3" class="bold"><span class="src-number">3.</span> <a href="#">Assembling the evidence jigsaw: insights from a systematic review of UK studies of individual-focused return to work in initiatives for disabled and long-term ill people</a></p>
    <p>Clayton, S., Bambra, C., Gosling, R., Povall, S., Misso, K., and Whitehead, M, 2011</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Systematic review of UK studies found personal advisors and individual case managers help individuals back to work. Financial incentives can help with a lasting transition into work. Management of health conditions to improve fitness to work was found, through qualitative evidence, can help claimants move towards if not necessarily into work.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Systematic review of UK studies found personal advisors and individual case managers help individuals back to work. Financial incentives can help with a lasting transition into work. Management of health conditions to improve fitness to work was found, through qualitative evidence, can help claimants move towards if not necessarily into work.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:4" class="bold"><span class="src-number">4.</span> <a href="#">Effectiveness of return-to-work interventions for disabled people: a systematic review of government initiatives focused on changing the behaviour of employers</a></p>
    <p>Clayton S1, Barr B, Nylen L, Burström B, Thielen K, Diderichsen F, Dahl E, Whitehead M., 2009</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Financial incentives such as wage subsidies can work if they are sufficiently generous, but can have unintended side effects. Involving employers in return-to-work planning can reduce subsequent sick leave and be appreciated by employees, but this policy has not been taken up with the level of intensity that is likely to make a difference . The evidence reviewed here suggests that where adjustments are made by employers, particularly where employers can be flexible with work schedules, and give employees greater control over work demands, they may produce some promising results in terms of improved employment chances for disabled people.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Financial incentives such as wage subsidies can work if they are sufficiently generous, but can have unintended side effects. Involving employers in return-to-work planning can reduce subsequent sick leave and be appreciated by employees, but this policy has not been taken up with the level of intensity that is likely to make a difference . The evidence reviewed here suggests that where adjustments are made by employers, particularly where employers can be flexible with work schedules, and give employees greater control over work demands, they may produce some promising results in terms of improved employment chances for disabled people.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:5" class="bold"><span class="src-number">5.</span> <a href="#">Evidence review into the effectiveness of supported employment for people with severe mental illness</a></p>
    <p>Rinaldi, M., Perkins, R., Glynn, E., Montibeller, T., Clenaghan, M., &amp; Rutherford, J., 2008</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Individual placement and support is an evidence-based practice that has been shown to be more effective than other approaches in helping people with severe mental health problems gain and sustain employment. Research clearly demonstrates that it is the support provided to clients that most affects vocational outcomes. Reviews of the research literature repeatedly demonstrate little relationship between employment outcomes and diagnosis, severity of impairment and social skills. There is increasing evidence that the individual placement and support model can be generalised beyond the USA to the UK, indeed to other European countries, and beyond the clinical trial to routine clinical practice.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Individual placement and support is an evidence-based practice that has been shown to be more effective than other approaches in helping people with severe mental health problems gain and sustain employment. Research clearly demonstrates that it is the support provided to clients that most affects vocational outcomes. Reviews of the research literature repeatedly demonstrate little relationship between employment outcomes and diagnosis, severity of impairment and social skills. There is increasing evidence that the individual placement and support model can be generalised beyond the USA to the UK, indeed to other European countries, and beyond the clinical trial to routine clinical practice.</p>
    </div>{# /large-screens #}
  </dd>
</dl>