<dl class="sources">
  <dt>
    <p id="fn:1" class="bold"><span class="src-number">1.</span> <a href="#">A Review of the Research Literature on Supported Employment: A Report for the cross-Government learning disability employment strategy team</a></p>
    <p>Beyer, S., &amp; Robinson, C. , 2009</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Research shows that supported employment does place people with moderate and severe learning disabilities in paid jobs.</p>
        <p>Outcomes are harder to obtain for people with severe and moderate learning disabilities, but research suggests that when severity of learning disability is controlled statistically, supported employment still provides better outcomes than sheltered alternatives.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Research shows that supported employment does place people with moderate and severe learning disabilities in paid jobs.</p>
      <p>Outcomes are harder to obtain for people with severe and moderate learning disabilities, but research suggests that when severity of learning disability is controlled statistically, supported employment still provides better outcomes than sheltered alternatives.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:2" class="bold"><span class="src-number">2.</span> <a href="#">A survey of disabled working age benefit claimants</a></p>
    <p>Cole, L, 2013</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>The most commonly reported barriers to work were a lack of job opportunities (mentioned by 36% of claimants overall, including 62% of JSA claimants and 43% of ESA WRAG claimants), difficulty with transport (mentioned by 31%, including 42% of JSA claimants) and attitudes of employers 30% (JSA 40%, ESA WRAG 35%). For those claimants currently seeking work the most commonly reported barriers were a lack of job opportunities (60%), attitudes of employers (42%), lack of qualifications/experience/skills (41%) and difficulty with transport (37%).</p>
      </div>
    </details>
    <div class="large-screens">
      <p>The most commonly reported barriers to work were a lack of job opportunities (mentioned by 36% of claimants overall, including 62% of JSA claimants and 43% of ESA WRAG claimants), difficulty with transport (mentioned by 31%, including 42% of JSA claimants) and attitudes of employers 30% (JSA 40%, ESA WRAG 35%). For those claimants currently seeking work the most commonly reported barriers were a lack of job opportunities (60%), attitudes of employers (42%), lack of qualifications/experience/skills (41%) and difficulty with transport (37%).</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:3" class="bold"><span class="src-number">3.</span> <a href="#">Assembling the evidence jigsaw: insights from a systematic review of UK studies of individual-focused return to work in initiatives for disabled and long-term ill people</a></p>
    <p>Clayton, S., Bambra, C., Gosling, R., Povall, S., Misso, K., and Whitehead, M, 2011</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Systematic review of UK studies found personal advisors and individual case managers help individuals back to work. Financial incentives can help with a lasting transition into work. Management of health conditions to improve fitness to work was found, through qualitative evidence, can help claimants move towards if not necessarily into work.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Systematic review of UK studies found personal advisors and individual case managers help individuals back to work. Financial incentives can help with a lasting transition into work. Management of health conditions to improve fitness to work was found, through qualitative evidence, can help claimants move towards if not necessarily into work.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:4" class="bold"><span class="src-number">4.</span> <a href="#">Effectiveness of return-to-work interventions for disabled people: a systematic review of government initiatives focused on changing the behaviour of employers</a></p>
    <p>Clayton S1, Barr B, Nylen L, Burström B, Thielen K, Diderichsen F, Dahl E, Whitehead M., 2009</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Financial incentives such as wage subsidies can work if they are sufficiently generous, but can have unintended side effects. Involving employers in return-to-work planning can reduce subsequent sick leave and be appreciated by employees, but this policy has not been taken up with the level of intensity that is likely to make a difference . The evidence reviewed here suggests that where adjustments are made by employers, particularly where employers can be flexible with work schedules, and give employees greater control over work demands, they may produce some promising results in terms of improved employment chances for disabled people.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Financial incentives such as wage subsidies can work if they are sufficiently generous, but can have unintended side effects. Involving employers in return-to-work planning can reduce subsequent sick leave and be appreciated by employees, but this policy has not been taken up with the level of intensity that is likely to make a difference . The evidence reviewed here suggests that where adjustments are made by employers, particularly where employers can be flexible with work schedules, and give employees greater control over work demands, they may produce some promising results in terms of improved employment chances for disabled people.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:5" class="bold"><span class="src-number">5.</span> <a href="#">Evidence review into the effectiveness of supported employment for people with severe mental illness</a></p>
    <p>Rinaldi, M., Perkins, R., Glynn, E., Montibeller, T., Clenaghan, M., &amp; Rutherford, J., 2008</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Individual placement and support is an evidence-based practice that has been shown to be more effective than other approaches in helping people with severe mental health problems gain and sustain employment. Research clearly demonstrates that it is the support provided to clients that most affects vocational outcomes. Reviews of the research literature repeatedly demonstrate little relationship between employment outcomes and diagnosis, severity of impairment and social skills. There is increasing evidence that the individual placement and support model can be generalised beyond the USA to the UK, indeed to other European countries, and beyond the clinical trial to routine clinical practice.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Individual placement and support is an evidence-based practice that has been shown to be more effective than other approaches in helping people with severe mental health problems gain and sustain employment. Research clearly demonstrates that it is the support provided to clients that most affects vocational outcomes. Reviews of the research literature repeatedly demonstrate little relationship between employment outcomes and diagnosis, severity of impairment and social skills. There is increasing evidence that the individual placement and support model can be generalised beyond the USA to the UK, indeed to other European countries, and beyond the clinical trial to routine clinical practice.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:6" class="bold"><span class="src-number">6.</span> <a href="#">Financial work incentives for disability benefit recipients: lessons from a randomised field experiment</a></p>
    <p>Butler, M., Deuchert, E., Lechner, M., Staubli, S., and Thiemann, P., 2015</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Paying large incentives to individuals did not appear to have an effect upon leaving benefits and expanding  work; Even when very large amounts of money were offered. Low take up may have been affected by lack of understanding of the scheme or because potential participants were risk averse.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Paying large incentives to individuals did not appear to have an effect upon leaving benefits and expanding  work; Even when very large amounts of money were offered. Low take up may have been affected by lack of understanding of the scheme or because potential participants were risk averse.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:7" class="bold"><span class="src-number">7.</span> <a href="#">Generalizability of the Individual Placement and Support (IPS) model of supported employment outside the US</a></p>
    <p>Bond, G., Drake, R., &amp; Becker, D., 2012</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Comparing the effectiveness in different countries, the USA has more examples of IPS schemes and a larger impact in a systematic review (62% vs 47% obtaining job outcomes) than European examples.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Comparing the effectiveness in different countries, the USA has more examples of IPS schemes and a larger impact in a systematic review (62% vs 47% obtaining job outcomes) than European examples.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:8" class="bold"><span class="src-number">8.</span> <a href="#">Helping chronically ill or disabled people into work: what can we learn from international comparative analyses?</a></p>
    <p>Public health research consortium , 2009</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Evidence review suggests that financial incentives paid to an employer appear to be effective as long as they are generous enough. Reduced hours and light duties are associated with returning to work and fewer periods of absence. And that chance to adjust work to reflect health condition (adjustment latitude) is associated with increased likelihood of return to work. evidence suggests that flexible work schedules/modified work are associated with increased length of employment. Reduced hours and light duties are associated with returning to work and fewer periods of absence. And that chance to adjust work to reflect health condition (adjustment latitude) is associated with increased likelihood of return to work.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Evidence review suggests that financial incentives paid to an employer appear to be effective as long as they are generous enough. Reduced hours and light duties are associated with returning to work and fewer periods of absence. And that chance to adjust work to reflect health condition (adjustment latitude) is associated with increased likelihood of return to work. evidence suggests that flexible work schedules/modified work are associated with increased length of employment. Reduced hours and light duties are associated with returning to work and fewer periods of absence. And that chance to adjust work to reflect health condition (adjustment latitude) is associated with increased likelihood of return to work.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:9" class="bold"><span class="src-number">9.</span> <a href="#">Life Opportunities Survey Wave one results, 2009/11</a></p>
    <p>Office for Disability Issues, 2011</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>The LOS is a large-scale longitudinal survey of disability in Great Britain. Survey reported on self perceived barriers and enablers to employment. Most common enabler was modified hours or days or reduced hours, followed by tax credits, and then modified duties. The most common barrier was health condition, illness or impairment followed by disability related reasons. Family responsibilities was third most common barrier.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>The LOS is a large-scale longitudinal survey of disability in Great Britain. Survey reported on self perceived barriers and enablers to employment. Most common enabler was modified hours or days or reduced hours, followed by tax credits, and then modified duties. The most common barrier was health condition, illness or impairment followed by disability related reasons. Family responsibilities was third most common barrier.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:10" class="bold"><span class="src-number">10.</span> <a href="#">Pathways to Work from Incapacity Benefits: A study of experience and use of Return to Work Credit</a></p>
    <p>Corden, K., and Nice, A. , 2006</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Qualitative evidence suggests that the return to work credit can help with lasting transitions from benefits to work through helping with day-to-day budgeting, clearing existing debts and boosting peoples confidence about their financial situation.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Qualitative evidence suggests that the return to work credit can help with lasting transitions from benefits to work through helping with day-to-day budgeting, clearing existing debts and boosting peoples confidence about their financial situation.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:10" class="bold"><span class="src-number">11.</span> <a href="#">Provider-led Pathways: experiences and views of Condition Management Programmes</a></p>
    <p>Corden, K., and Nice, A. , 2006</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>For some clients, attending CMP had helped to initiate and enhance their progress towards paid work, such that some had taken steps towards work such as searching for jobs, taking up training or gaining paid employment. For many, CMP had resulted in increased confidence and motivation which along with learning more about how to manage their health conditions (and sometimes seeing symptoms improve) seemed to help people to feel more ready for work. Even for those people considered to be furthest from paid work, improvements in well-being could be achieved, which were regarded by staff as a first step in removing barriers to work.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>For some clients, attending CMP had helped to initiate and enhance their progress towards paid work, such that some had taken steps towards work such as searching for jobs, taking up training or gaining paid employment. For many, CMP had resulted in increased confidence and motivation which along with learning more about how to manage their health conditions (and sometimes seeing symptoms improve) seemed to help people to feel more ready for work. Even for those people considered to be furthest from paid work, improvements in well-being could be achieved, which were regarded by staff as a first step in removing barriers to work.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:12" class="bold"><span class="src-number">12.</span> <a href="#">Quantifying the effectiveness of interventions for people with common health conditions in enabling them to stay in or return to work: A rapid evidence assessment</a></p>
    <p>Bond, G., Drake, R., &amp; Becker, D., 2012</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>There is a reasonably strong body of evidence, with positive effects shown for cognitive behavioural therapy (CBT), vocational rehabilitation and workplace rehabilitation for people with Lower Back Pain.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>There is a reasonably strong body of evidence, with positive effects shown for cognitive behavioural therapy (CBT), vocational rehabilitation and workplace rehabilitation for people with Lower Back Pain.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:13" class="bold"><span class="src-number">13.</span> <a href="#">Support for the very long term unemployed trailblazer longer term analysis of benefit impacts</a></p>
    <p>Department for Work and Pensions, 2013</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>In SVLTU the OCM part (advice and guidance, combined where appropriate with other interventions such as training) had a positive impact (for disabled people) on job outcomes compared to the JCP control group. OCM participants reported slightly more frequent and longer contact with advisors, but also received more support in other forms.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>There is a reasonably strong body of evidence, with positive effects shown for cognitive behavioural therapy (CBT), vocational rehabilitation and workplace rehabilitation for people with Lower Back Pain.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:14" class="bold"><span class="src-number">14.</span> <a href="#">Understanding the journeys from work to Employment and Support Allowance (ESA)</a></p>
    <p>Adams, L., Oldfield, k., Riley, C., Duncan, B., and Downing, C., 2015</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Research reported that a number of non health related barriers are regarded as a reason for leaving employment, including: Lack of suitable jobs in my area (47%), lack of qualifications or experience (37%), worried about their age (32%), lack of confidence to search or apply for jobs (26%), caring responsibilities (14%).  Being uncertain if they would be financially better off in (8%), worried about criminal record (7%).</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Research reported that a number of non health related barriers are regarded as a reason for leaving employment, including: Lack of suitable jobs in my area (47%), lack of qualifications or experience (37%), worried about their age (32%), lack of confidence to search or apply for jobs (26%), caring responsibilities (14%).  Being uncertain if they would be financially better off in (8%), worried about criminal record (7%).</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:15" class="bold"><span class="src-number">15.</span> <a href="#">What works for whom in helping disabled people into work?</a></p>
    <p>Coleman, N., Sykes, W., and Groom, C., 2013</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Working paper presents a  review of international evidence on what works to help disabled people into employment and to retain and progress in work, findings suggest the following interventions as effective: financial incentives, workplace accessibility and adjustments, advice and guidance, travel to work assistance, return to work planning, supported employment programmes and condition management schemes.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Working paper presents a  review of international evidence on what works to help disabled people into employment and to retain and progress in work, findings suggest the following interventions as effective: financial incentives, workplace accessibility and adjustments, advice and guidance, travel to work assistance, return to work planning, supported employment programmes and condition management schemes.</p>
    </div>{# /large-screens #}
  </dd>
</dl>
<dl class="sources">
  <dt>
    <p id="fn:16" class="bold"><span class="src-number">16.</span> <a href="#">What works for whom? A review of evidence and meta-analysis for the Department for Work and Pensions</a></p>
    <p>Hasluck, C. and Green, A., E., 2007</p>
    <p class="back-up"><a href="#cite_ref-31">Back up ^</a></p>
  </dt>
  <dd>
    <details>
      <summary><span class="summary">What we took from this source</span></summary>
      <div class="panel panel-border-narrow">
        <p>Advice and guidance support emerges as a positive intervention. Building of supportive and trusting relationships between claimants and case managers was reported as key to successful outcomes in UK studies.</p>
      </div>
    </details>
    <div class="large-screens">
      <p>Advice and guidance support emerges as a positive intervention. Building of supportive and trusting relationships between claimants and case managers was reported as key to successful outcomes in UK studies.</p>
    </div>{# /large-screens #}
  </dd>
</dl>